<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper red darken-1">
			<a href="#!" class="brand-logo center"><i style="font-size: 4rem;" class="material-icons">attach_money</i>CashApp</a>
		</div>
	</nav>
</div>