<h1>{{user.name}}</h1>

<div class="card">
    <div class="card-content">
        <div class="center">
            <i class="material-icons large">person_outline</i>
        </div>
        <p style="font-weight: bold;">E-mail</p>
        <p style="color: #08f;">{{user.email}}</p>
        <div class="divider"></div>
        <p style="font-weight: bold;">Balance</p>
        <p style="color: #08f">${{user.balance}}</p>
    </div>
</div>

<div class="fixed-action-btn">
    <a href="/users" class="btn btn-large red darken-1">Back to users</a>
    <a href="/transfers/interface" class="btn btn-large red darken-1">Transfer money now</a>
</div>